<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
		<title>template</title> 
		<link type="text/css" rel="stylesheet" href="css/template.css"></link>
		<script type="text/javascript" src="./js/MSAPI.js"></script>
	</head>
	<body onload="init();">
		<div id="templateMainContainerDiv">
			<div id="templateIconDiv"></div>
			<div id="templateHeaderDiv"></div>
			<div id="templateConstantMenuDiv"></div>
			<div id="templateContentDiv"></div>
			<div id="templateFooterDiv"></div>
		</div>
	</body>
	<aside id="fullScreen"></aside>
</html>
